.cover__link {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
