.cover__subtitle {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 1.22;
	color: rgb(255, 255, 255);
	margin-left: 412px;
	margin-right: 412px;
	margin-bottom: 245px;
	width: 30.4%;
	max-width: 360px;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    width: 70%;
    margin-top: 32px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 33px;
    min-width: 288px;
    max-height: 48px;
  }
}
