.website__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.website__link:hover {
  opacity: .8;
  transition: .5s linear;
  text-decoration: underline;
}
