.header {
  min-width: 320px;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .header {
    margin: auto;
    margin-top: 28px;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .header {
    max-width: 90%;
    margin: auto;
    margin-top: 28px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 90%;
    margin: auto;
    min-height: 42px;
    margin-top: 16px;
  }
}
