.cover {
  margin-top: 92px;
  background: url(../../images/cover-trains.jpg);
  width: 100vw;
  height: 62.5vw;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.cover::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover:hover::before {
  transition: .8s linear;
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    max-height: 740px;
    margin: auto;
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
