.cover {
  display: flex;
	flex-direction: column;
	background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
	justify-content: center;
	align-items: center;
  margin: auto;
  margin-top: 92px;
	margin-bottom: 92px;
  width: 100vw;
  min-height: 62.5vw;
	background-position: center;
  background-repeat: no-repeat;
	text-align: center;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}
