.text__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 28px;
}

.text__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .text__paragraph {
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 425px) {
  .text__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
