.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 48px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, 340px) 1fr;
    grid-column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 32px;
      margin-bottom: 50px;
  }
}
