.lead__img-wrapper {
  margin: 0 auto;
  margin-top: 64px;
}

@media screen and (min-width: 1024px) and (max-width: 2280px) {
  .lead__img-wrapper {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .lead__img-wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .lead__img-wrapper {
    margin-top: 40px;
  }
}
